table, td{
    border: 0.3rem #872341 solid;
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
}

table{
    margin: 0 auto;
}

i{
    margin: 1rem;
}

button{
    margin: 0.3rem;
}

button:hover, button:focus{
    background-color: #F05941;
}
